# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
